# Core dependencies
ultralytics
opencv-python-headless
numpy
Pillow

# Deep Learning
--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision

# Streamlit and its dependencies
streamlit
streamlit-webrtc
av
matplotlib
pandas
PyYAML

# Optional dependencies
psutil
