# Core dependencies
ultralytics==8.0.196
opencv-python-headless==4.8.0.74
numpy==1.24.3
Pillow==9.5.0

# Deep Learning
torch==2.0.1
torchvision==0.15.2

# Streamlit and its dependencies
streamlit==1.28.0
matplotlib==3.7.1
pandas==2.0.3
PyYAML==6.0.1

# Optional dependencies
psutil==5.9.5
