# Core dependencies
ultralytics
opencv-python-headless
numpy
Pillow

# Deep Learning
--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision

# Web dependencies
flask
flask-cors
python-dotenv
gunicorn

# Streamlit and its dependencies
streamlit
streamlit-webrtc
av
matplotlib
pandas
PyYAML


#text to speech
gTTS
pygame

# Optional dependencies
psutil
