/* style.css */
.centered-alert {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px; /* Altura padrão */
    color: #e0e0e0; /* Cor do texto no alerta */
    background-color: red; /* Cor de fundo no alerta */
    font-size: 20px; /* Tamanho da fonte */
    font-weight: bold; /* Peso da fonte */
    border-radius: 5px; /* Bordas arredondadas */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para realçar */
    animation: blinker 1s linear infinite; /* Animação intermitente */
}

@keyframes blinker {
    70% { opacity: 0; }
}

.centered-normal {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px; /* Altura padrão */
    color: black; /* Cor do texto no estado normal */
    background-color: #e0e0e0; /* Cor de fundo no estado normal */
    font-size: 16px; /* Tamanho da fonte no estado normal */
    font-weight: bold; /* Peso da fonte no estado normal */
    border-radius: 5px; /* Bordas arredondadas */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para realçar */
}