:root {
    --primary-color: #010f4e;
    --danger-color: #f44336;
    --success-color: #4CAF50;
    --background-color: #ffffff;
    --card-background: #ffffff;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    --background-color: var(--background-color);
    color: #333;
}

.header {
    color: var(--primary-color);
    padding: 1rem;
    text-align: center;
}

.danger-alert {
    background-color: red; /* Cor de fundo no alerta */
    font-size: 20px; /* Tamanho da fonte */
    color: #FFFFFF; /* Cor do texto no alerta */
    font-weight: bold; /* Peso da fonte */
    border-radius: 5px; /* Bordas arredondadas */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para realçar */
    animation: blinker 1s linear infinite; /* Animação intermitente */
}

.processing-text {
    background-color: var(--primary-color);
    color: white;
    padding: 10px;
    border-radius: 5px;
    animation: blinker 1s linear infinite; /* Animação intermitente */
}

@keyframes blinker {
    70% { opacity: 0; }
}
